<%- include header%>
<style>
  th,td{
    text-align: center;
  }

</style>

	<div class = "modal fade" id = "component_borrow"> 
	 	<div class = "modal-dialog"> 
	 		<div class = "modal-content" style = "width:450px;"> 
	 			<button class="close" data-dismiss='modal' style = "padding-right:5px;">×</button>  
	 			<div style = "border:1px solid green;width:400px;margin:20px;"> 
	 				<form action = "/users/borrow_components" method = "post" onSubmit = "return check(this);"> 
	 					<table class = "table"> 
	 						<tbody> 
	 							<tr> 
	 								<td style = "text-align:right;">元器件名：</td>
	 								<td><input type = "text" class = "form-control" name = "cname"></td>
	 							</tr>
	 							<tr> 
	 								<td style = "text-align:right;">用户名：</td>
	 								<td><input type = "text" class = "form-control" name = "name"></td>
	 							</tr>
	 							<tr>
	 								<td style = "text-align:right;">联系方式：</td>
	 								<td><input type = "text" class = "form-control" name = "tel"></td>
	 							</tr>

	 							<tr> 
	 								<td colspan = "2" align = "center">
	 									<input type = "submit" name = "sure" class = "btn btn-success" value = "确定">
	 									<input type = "button" name = "info" class = "btn btn-info" value = "查看" data-toggle = "modal" id = "info">
	 								</td>
	 							</tr>
	 						</tbody>
	 					</table>
	 				</form>
	 			</div>
	 		</div>
	 	</div>
 	</div>
 	<div class = "modal fade" id = "infoShow">
 		<div class = "modal-dialog"> 
 			<div class = "modal-content"> 
 				<button class = "close" data-dismiss = "modal" style = "padding-right:5px;">x</button>
 				<form action = "/users/borrow_components" method = "post" > 
	 					<table class = "table">
	 						<thead> 
	 							<tr>
	 								<th>元器件名</th>
	 								<th>用户名</th>
	 								<th>联系方式</th>
	 							</tr>
	 						</thead> 
	 						<tbody id = "components_tbody"> 

	 						</tbody>
	 					</table>
	 				</form>		
 			</div>
 		</div>
 	</div>
 	<div class = "modal fade" id = "component_back"> 
	 	<div class = "modal-dialog"> 
	 		<div class = "modal-content" style = "width:450px;"> 
	 			<button class="close" data-dismiss='modal' style = "padding-right:5px;">×</button>  
	 			<div style = "border:1px solid green;width:400px;margin:20px;"> 
	 				<form action = "/users/back_component" method = "post" > 
	 					<table class = "table"> 
	 						<tbody> 
	 							<tr> 
	 								<td style = "text-align:right;">元器件名：</td>
	 								<td><input type = "text" class = "form-control" name = "cname"></td>
	 							</tr>
	 							<tr> 
	 								<td style = "text-align:right;">用户名：</td>
	 								<td><input type = "text" class = "form-control" name = "name"></td>
	 							</tr>
	 							<tr>
	 								<td style = "text-align:right;">联系方式：</td>
	 								<td><input type = "text" class = "form-control" name = "tel"></td>
	 							</tr>

	 							<tr> 
	 								<td colspan = "2" align = "center">
	 									<input type = "submit" name = "sure" class = "btn btn-success" value = "确定">
	 									<input type = "reset" name = "reset" class = "btn btn-defalut" value = "重置">
	 								</td>
	 							</tr>
	 						</tbody>
	 					</table>
	 				</form>
	 			</div>
	 		</div>
	 	</div>
 	</div>
<div name = "componentContent" class = "container"> 
	<h4>元器件详情<small>（电阻、小型电容等直接使用）</small></h4>
      <table class = "table table-hover table-bordered table-responsive">
        <thead >
          <tr>
            <th>#</th>
            <th>元器件名</th>
            <th>数量</th>
            <th>地址</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id = "tbody-components">
        </tbody>
</div>
 
 
<script>

/*onSubmit = "return check();"
function check(){
	if(document.getElementsByTagName("name").value == null || document.getElementsByTagName("tel").value == null){
		alert("请填写完整信息！");
		return false;
	}
	else{
		return true;
	}
}*/
function check(form){
	if(form.name.value == null){
		alert("请填写完整信息！");
		return false;
	}
	else{
		return true;
	}
}
/*function check_2(){
	if(document.getElementsByTagName("tel").value == null){
		alert("请输入联系方式！");
		return;
	}
	else{
		return;
	}
}*/
$(function(){
	$("#info").click(function(){
		$("#infoShow").modal("show");
	});

	/*$("input[name = 'name']").onblur(function(){
		if($("input[name = 'name']").val() == null){
			alert("请输入姓名！");
			return;
		}
	});
	$("input[name = 'name']").on(blur,function(){
		if($("input[name = 'tel']").val() == ''){
			alert("请输入联系方式");
			return;
		}
	});*/
	
})
//显示元器件信息"a[name = 'component']"
 $(document).ready(function(){
	
	/*$("div[name = 'bookContent']").css("display","none");
	$("div[name = 'moneyContent']").css("display","none");
	$("div[name = 'componentContent']").css("display","block");*/
	var tbody = document.getElementById("tbody-components");
	//通过ajax的get异步获取信息
	$.get("./componentContent",function(componentContent){
		var str = "";
		//console.log(componentContent);
		for(var i = 0; i < componentContent.length; i++){
			str += "<tr>" +
			"<td>" + (i + 1) + "</td>" +
            "<td name = 'cname'>" + componentContent[i].cname + "</td>" +
            "<td name = 'num'>" + componentContent[i].num + "</td>" +
            "<td>" + componentContent[i].address + "</td>" +
            "<td> <input type = 'button' class = 'btn btn-success' value = '借元器件' data-toggle = 'modal' data-target = '#component_borrow'>&nbsp;<input type = 'button' class = 'btn btn-info' value = '还元器件' data-toggle = 'modal' data-target = '#component_back'>" + 
            "</td>" +
            "</tr>";
		}
		tbody.innerHTML = str;
	});

});

$("input[name = 'info']").click(function(){
	var tbody = document.getElementById("components_tbody");
	$.get("./info_components",function(info_components){
		var str = "";
		console.log(info_components);
		for(var i = 0; i < info_components.length; i++){
			str += "<tr>" +
			"<td>" + info_components[i].cname  + "</td>" +
			"<td>" + info_components[i].name  + "</td>" +
			"<td>" + info_components[i].tel + "</td>" +
			"</tr>"
		}
		tbody.innerHTML = str;

	});
});
 
  //书籍信息显示

   function borrow_books(){
   	var bname = document.getElementsByTagName('bname');
      	alert("hi");
      	$.post("./borrow_books",{bname:"fafa"},function(borrow_books){
      		console.log(borrow_books);
      	})
      };

</script>
 
<%- include footer%>


