
	       		<div style = "height:250px;width:400px;border:1px solid green;">
				    <form action="/users/admLogin" method="post">
				      <table class = "table">
				        <thead>
				          <tr>
				            <td colspan="2" align="center">
				              新生报名
				            </td>
				          </tr>
				        </thead>
				        <tbody>
				          <tr>
				            <td align="right" >姓名</td>
				            <td><input type="text" class = "form-control" name = "nicheng"></td>
				          </tr>
				          <tr>
				            <td align="right">性别</td>
				            <td><input type="text" class = "form-control" name = "sex" ></td>
				          </tr>
				          <tr>
				            <td align="right">专业</td>
				            <td><input type="text" class = "form-control" name = "profession" ></td>
				          </tr>
				          <tr>
				            <td align="right">联系方式</td>
				            <td><input type="text" class = "form-control" name = "tel" ></td>
				          </tr>
				          <tr>
				            <td align="right">QQ</td>
				            <td><input type="text" class = "form-control" name = "qq" ></td>
				          </tr>
				            <tr>
				            <td align="right">兴趣爱好</td>
				            <td><input type="text" class = "form-control" name = "interest" ></td>
				          </tr>
				          <tr>
				            <td colspan="2" align="center" >
				              <input type="hidden" name = "subflag" value = "1">
				              <input type="submit" value="提交" class = "btn btn-success">
				              <input type="reset" value="重置" class = "btn btn-defalut">
				            </td>
				          </tr>
				        </tbody>
				      </table>
				    </form>
  				</div> 